@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

h1 {
  color: green;
}

.pagination {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.currentPage {
  text-align: center;
}
